@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap");

$family-serif: "Source Sans Pro", serif !default;
$family-primary: $family-serif;
$family-sans-serif: $family-serif;
