// @import url("https://fonts.googleapis.com/css?family=Segoe+UI:400,700&display=swap");;
@import "../utilities/initial-fonts.scss";
$family-serif: "Segoe UI", "Roboto" serif !default;
$family-primary: $family-serif;
$family-sans-serif: $family-serif;
