

@import url("https://fonts.googleapis.com/css?family=News+Cycle:400,700&display=swap");;

$family-serif: "News Cycle", serif !default;
$family-primary: $family-serif;
$family-sans-serif: $family-serif;