<nav class="main-nav navbar is-primary">
  <div class="container">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        <img
          src="/public/markdown-space-logo.svg"
          alt="logo"
          class="logo"
          style="padding-right: 0.5rem"
        />
        <h1 class="title is-5">Markdownswatch</h1>
      </a>
      <a class="navbar-item" href="/">Home</a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> Themes </a>
        <div class="navbar-dropdown is-boxed">
          <div class="columns">
            <div class="column">
              <a class="navbar-item" href="/pages/cerulean.html">Cerulean</a>
              <a class="navbar-item" href="/pages/lux.html">Lux</a>
            </div>
            <div class="column">
              <a class="navbar-item" href="/">Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="navbar-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="navbar-end navbar-menu"></div>
  </div>
</nav>
