@use "./cyborg/variables.scss" as v;

@use "bulma/sass" with (
  $body-background-color: v.$body-background-color,
  $box-shadow: 0 0 0 1px v.$grey,
  $button-weight: 400,
  $colors: v.$colors,
  $primary: v.$primary,
  $title-color: v.$title-color,
  $subtitle-color: v.$subtitle-color,
  $subtitle-strong-color: v.$subtitle-strong-color,
  $dark: v.$grey-darker,
  $box-background-color: v.$box-background-color,
  $grey-darker: v.$grey-darker
);

@import "./cyborg/overrides.scss";
