@use "baseStyles.scss";
@use "./darkly/variables.scss" as v;
@use "./darkly/fonts.scss" as f;

@use "bulma/sass" with (
  $background: v.$background,
  $black: v.$black,
  $body-background-color: v.$body-background-color,
  $border: v.$border,
  $box-background-color: v.$box-background-color,
  $box-color: v.$box-color,
  $box-shadow: v.$box-shadow,
  $button-border-color: v.$button-border-color,
  $button-weight: 400,
  $code-background: v.$code-background,
  $colors: v.$colors,
  $control-radius: v.$control-radius,
  $danger: v.$danger,
  $dark: v.$grey-darker,
  $family-code: v.$family-code,
  $family-primary: v.$family-primary,
  $family-sans-serif: v.$family-sans-serif,
  $grey-dark: v.$grey-dark,
  $grey-darker: v.$grey-darker,
  $grey-light: v.$grey-light,
  $grey-lighter: v.$grey-lighter,
  $grey: v.$grey,
  $info: v.$info,
  $link: v.$link,
  $primary: v.$primary,
  $subtitle-color: v.$subtitle-color,
  $subtitle-strong-color: v.$subtitle-strong-color,
  $subtitle-weight: v.$subtitle-weight,
  $success: v.$success,
  $table-color: v.$table-color,
  $title-color: v.$title-color,
  $title-weight: v.$title-weight,
  $warning: v.$warning,
  $white: v.$white
);

@import "./darkly/overrides.scss";
