@use "./utilities/functions.scss" as fn;
@use "./litera/variables.scss" as v;
@use "./utilities/derived-variables.scss" as dv;

@use "bulma/sass" with (
  $subtitle-color: v.$subtitle-color,
  $body-size: v.$body-size,
  //initial variables
  $black: v.$black,
  $black-bis: v.$black-bis,
  $black-ter: v.$black-ter,
  $grey-darker: v.$grey-darker,
  $grey-dark: v.$grey-dark,
  $grey: v.$grey,
  $grey-light: v.$grey-light,
  $grey-lighter: v.$grey-lighter,
  $grey-lightest: v.$grey-lightest,
  $white-ter: v.$white-ter,
  $white-bis: v.$white-bis,
  $white: v.$white,
  $orange: v.$orange,
  $yellow: v.$yellow,
  $green: v.$green,
  $turquoise: v.$turquoise,
  $cyan: v.$cyan,
  $blue: v.$blue,
  $purple: v.$purple,
  $red: v.$red,
  $family-sans-serif: v.$family-sans-serif,
  $family-monospace: v.$family-monospace,
  $render-mode: v.$render-mode,
  $size-1: v.$size-1,
  $size-2: v.$size-2,
  $size-3: v.$size-3,
  $size-4: v.$size-4,
  $size-5: v.$size-5,
  $size-6: v.$size-6,
  $size-7: v.$size-7,
  $weight-light: v.$weight-light,
  $weight-normal: v.$weight-normal,
  $weight-medium: v.$weight-medium,
  $weight-semibold: v.$weight-semibold,
  $weight-bold: v.$weight-bold,
  $weight-extrabold: v.$weight-extrabold,
  $block-spacing: v.$block-spacing,
  $aspect-ratios: v.$aspect-ratios,
  $gap: v.$gap,
  $tablet: v.$tablet,
  $desktop: v.$desktop,
  $widescreen: v.$widescreen,
  $widescreen-enabled: v.$widescreen-enabled,
  $fullhd: v.$fullhd,
  $fullhd-enabled: v.$fullhd-enabled,
  $breakpoints: v.$breakpoints,
  $easing: v.$easing,
  $radius-small: v.$radius-small,
  $radius: v.$radius,
  $radius-medium: v.$radius-medium,
  $radius-large: v.$radius-large,
  $radius-rounded: v.$radius-rounded,
  $speed: v.$speed,
  $variable-columns: v.$variable-columns,
  $rtl: v.$rtl,
  $class-prefix: v.$class-prefix,
  $cssvars-prefix: v.$cssvars-prefix,
  $helpers-prefix: v.$helpers-prefix,
  $helpers-has-prefix: v.$helpers-has-prefix,

  //derived variables$scheme-main: dv.$scheme-main,
  $scheme-main-bis: dv.$scheme-main-bis,
  $scheme-main-ter: dv.$scheme-main-ter,
  $scheme-invert: dv.$scheme-invert,
  $scheme-invert-bis: dv.$scheme-invert-bis,
  $scheme-invert-ter: dv.$scheme-invert-ter,
  $text: dv.$text,
  $text-invert: dv.$text-invert,
  $text-weak: dv.$text-weak,
  $text-strong: dv.$text-strong,
  $primary: dv.$primary,
  $info: dv.$info,
  $success: dv.$success,
  $warning: dv.$warning,
  $danger: dv.$danger,
  $light: dv.$light,
  $dark: dv.$dark,
  $link: dv.$link,
  $background: dv.$background,
  $border: dv.$border,
  $border-weak: dv.$border-weak,
  $code: dv.$code,
  $code-background: dv.$code-background,
  $pre: dv.$pre,
  $pre-background: dv.$pre-background,
  $family-primary: dv.$family-primary,
  $family-secondary: dv.$family-secondary,
  $family-code: dv.$family-code,
  $size-small: dv.$size-small,
  $size-normal: dv.$size-normal,
  $size-medium: dv.$size-medium,
  $size-large: dv.$size-large,
  $shadow-color: dv.$shadow-color,
  $custom-colors: dv.$custom-colors,
  $custom-shades: dv.$custom-shades,
  $colors: dv.$colors,
  $shades: dv.$shades,
  $sizes: dv.$sizes
);

@import "./litera/overrides.scss";
