@use "./utilities/functions.scss" as fn;
@use "./utilities/initial-variables.scss" as iv;
@use "./utilities/derived-variables.scss" as dv;
@use "./utilities/mixins.scss" as mx;

/////////////////////////////////////////////////
// LITERA
/////////////////////////////////////////////////

// Color Palette
$grey-darker: #363636;
$grey-dark: #373a3c;
$grey: #55595c;
$grey-light: #818a91;
$grey-lighter: #d9dee2;
$orange: #f0ad4e;
$yellow: #ffd500;
$green: #02b875;
$blue: #45b2d3;
$red: #d9534f;

// Theme Colors
$text: $grey-dark;
$link: #4582ec !default;
$primary: $blue !default;
$danger: $orange;
$subtitle-color: $grey;

// Typography
$family-heading: "Raleway", "Lucida Grande", "Lucida Sans Unicode",
  "Lucida Sans", Geneva, Arial, sans-serif;
$family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$body-size: 15px;

// Layout
$navbar-height: 5rem;
$control-height: 2.273em;

// Navbar Styles
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $link;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-item-hover-color: $link;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-color: $link;
$navbar-dropdown-item-active-background-color: transparent;

// Elements
$box-shadow: 0 0 1px $grey-light;

// Misc
$bulmaswatch-import-font: true !default;

// Custom Colors and Shades
$custom-colors: null !default;
$custom-shades: null !default;

// Color Map
$colors: fn.mergeColorMaps(
  (
    "white": (
      iv.$white,
      iv.$black,
    ),
    "black": (
      iv.$black,
      iv.$white,
    ),
    "light": (
      iv.$white,
      iv.$black,
    ),
    "dark": (
      $grey-darker,
      iv.$white,
    ),
    "link": (
      #4582ec,
      iv.$white,
    ),
    "text": (
      $text,
      iv.$black,
    ),
    "primary": (
      $primary,
      iv.$white,
    ),
    "info": (
      #3298dc,
      iv.$white,
    ),
    "success": (
      $green,
      iv.$white,
    ),
    "warning": (
      $yellow,
      iv.$black,
    ),
    "danger": (
      $orange,
      iv.$white,
    ),
  ),
  $custom-colors
);

/////////////////////////////////////////////////
// CUSTOM VARIABLES
/////////////////////////////////////////////////

@use "bulma/sass" with (
  // Colors
  $primary: $primary,
  $colors: $colors,

  // Typography
  $body-size: $body-size,
  $family-sans-serif: $family-heading,
  $subtitle-color: $subtitle-color,

  // Elements
  $box-shadow: $box-shadow,
  $button-weight: 400,
  $control-height: $control-height
);

/////////////////////////////////////////////////
// OVERRIDES
/////////////////////////////////////////////////

@import url("https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap");

a {
  transition: all 200ms ease;
}

.button {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 50px;
  font-family: iv.$family-sans-serif;

  &.is-small {
    border-radius: 40px;
    font-size: 0.85rem;
  }
}

.button {
  transition: all 200ms ease;

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba(iv.$button-active-border-color, 0.3);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        box-shadow: 0 0 0 2px rgba($color, 0.3);
      }
    }
  }
}

.content {
  font-size: 1.1rem;
  font-family: $family-serif;

  .button {
    font-family: iv.$family-sans-serif;
  }
}

.card-header-title,
.menu-label,
.message-header,
.modal-card-title,
.panel-heading,
.subtitle,
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $family-heading;
}

blockquote {
  font-style: italic;
}

.input,
.textarea {
  transition: all 200ms ease;
  box-shadow: none;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.navbar {
  border: 1px solid dv.$border;
}

.navbar:not(.is-transparent) {
  font-family: iv.$family-sans-serif;

  .navbar-dropdown {
    .columns {
      .navbar-item {
        color: iv.$black;

        &:hover {
          background-color: transparent;
          color: $primary;
        }

        &.is-active,
        &:active {
          background-color: $primary;
          color: iv.$white;
        }
      }
    }
  }
}

.hero {
  .navbar {
    border: none;
    box-shadow: 0 1px 0 rgba(dv.$border, 0.25);
  }
}

.card {
  $card-border-color: $grey-darker;
  box-shadow: 0 0 1px $grey-light;

  .card-header {
    box-shadow: none;
    border-bottom: 1px solid $grey-lighter;
  }
}
