@use "baseStyles.scss";

// Set your brand colors
$purple: #8a4d76;
$pink: #ff0000;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: #2fa4e7,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none,
  $radius: 0px,
  $weight-normal: 600,
  $weight-light: 600
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Example:
// @use "bulma/sass" with (
//   /////////////////////////////////////////////////////////////////////////////
//   // Colors
//   $black: hsl(0, 0%, 4%),
//   $black-bis: hsl(0, 0%, 7%),
//   $black-ter: hsl(0, 0%, 14%),
//   $grey-darker: hsl(0, 0%, 21%),
//   $grey-dark: hsl(0, 0%, 29%),
//   $grey: hsl(0, 0%, 48%),
//   $grey-light: hsl(0, 0%, 71%),
//   $grey-lighter: hsl(0, 0%, 86%),
//   $grey-lightest: hsl(0, 0%, 93%),
//   $white-ter: hsl(0, 0%, 96%),
//   $white-bis: hsl(0, 0%, 98%),
//   $white: hsl(0, 0%, 100%),
//   $orange: hsl(14, 100%, 53%),
//   $yellow: hsl(48, 100%, 67%),
//   $green: hsl(141, 71%, 48%),
//   $turquoise: hsl(171, 100%, 41%),
//   $cyan: hsl(204, 86%, 53%),
//   $blue: hsl(217, 71%, 53%),
//   $purple: hsl(271, 100%, 71%),
//   $red: hsl(348, 100%, 61%),
//   /////////////////////////////////////////////////////////////////////////////
//   // Semantic colors
//   $primary: $turquoise,
//   $link: $blue,
//   $info: $cyan,
//   $success: $green,
//   $warning: $yellow,
//   $danger: $red,
//   $light: $white-ter,
//   $dark: $grey-darker,
//   /////////////////////////////////////////////////////////////////////////////
//   // Typography
//   $family-sans-serif:
//     (
//       BlinkMacSystemFont,
//       -apple-system,
//       "Segoe UI",
//       "Roboto",
//       "Oxygen",
//       "Ubuntu",
//       "Cantarell",
//       "Fira Sans",
//       "Droid Sans",
//       "Helvetica Neue",
//       "Helvetica",
//       "Arial",
//       sans-serif
//     ),
//   $family-monospace: monospace,
//   $render-mode: optimizeLegibility,
//   /////////////////////////////////////////////////////////////////////////////
//   // Font Sizes
//   $size-1: 3rem,
//   $size-2: 2.5rem,
//   $size-3: 2rem,
//   $size-4: 1.5rem,
//   $size-5: 1.25rem,
//   $size-6: 1rem,
//   $size-7: 0.75rem,
//   /////////////////////////////////////////////////////////////////////////////
//   // Font Weights
//   $weight-light: 300,
//   $weight-normal: 400,
//   $weight-medium: 500,
//   $weight-semibold: 600,
//   $weight-bold: 700,
//   /////////////////////////////////////////////////////////////////////////////
//   // Body
//   $body-background-color: $white,
//   $body-size: 16px,
//   $body-min-width: 300px,
//   $body-rendering: optimizeLegibility,
//   $body-family: $family-sans-serif,
//   $body-color: $text,
//   $body-weight: $weight-normal,
//   $body-line-height: 1.5,
//   /////////////////////////////////////////////////////////////////////////////
//   // Title
//   $title-color: $text-strong,
//   $title-family: false,
//   $title-size: $size-3,
//   $title-weight: $weight-semibold,
//   $title-line-height: 1.125,
//   $title-strong-color: inherit,
//   $title-strong-weight: inherit,
//   $title-sub-size: 0.75em,
//   $title-sup-size: 0.75em,
//   /////////////////////////////////////////////////////////////////////////////
//   // Spacing
//   $block-spacing: 1.5rem,
//   $gap: 32px,
//   /////////////////////////////////////////////////////////////////////////////
//   // Responsiveness
//   $tablet: 769px,
//   $desktop: 960px + (2 * $gap),
//   $widescreen: 1152px + (2 * $gap),
//   $fullhd: 1344px + (2 * $gap),
//   $widescreen-enabled: true,
//   $fullhd-enabled: true,
//   /////////////////////////////////////////////////////////////////////////////
//   // Flags
//   $variable-columns: true,
//   /////////////////////////////////////////////////////////////////////////////
//   // Control
//   $control-radius: $radius,
//   $control-radius-small: $radius-small,
//   $control-border-width: 1px,
//   $control-height: 2.5em,
//   $control-line-height: 1.5,
//   $control-padding-vertical: calc(0.5em - #{$control-border-width}),
//   $control-padding-horizontal: calc(0.75em - #{$control-border-width}),
//   /////////////////////////////////////////////////////////////////////////////
//   // Forms
//   $input-color: $grey-darker,
//   $input-background-color: $white,
//   $input-border-color: $grey-lighter,
//   $input-height: $control-height,
//   $input-shadow: inset 0 0.0625em 0.125em rgba($scheme-invert, 0.05),
//   $input-placeholder-color: rgba($input-color, 0.3),
//   $input-hover-color: $grey-darker,
//   $input-hover-border-color: $grey-light,
//   $input-focus-color: $grey-darker,
//   $input-focus-border-color: $link,
//   $input-focus-box-shadow-size: 0 0 0 0.125em,
//   $input-focus-box-shadow-color: rgba($link, 0.25),
//   $input-disabled-color: $text-light,
//   $input-disabled-background-color: $background,
//   $input-disabled-border-color: $background,
//   $input-disabled-placeholder-color: rgba($input-disabled-color, 0.3),
//   $input-arrow: $link,
//   $input-icon-color: $grey-lighter,
//   $input-icon-active-color: $grey,
//   $input-radius: $radius,
//   /////////////////////////////////////////////////////////////////////////////
//   // Buttons
//   $button-color: $grey-darker,
//   $button-background-color: $white,
//   $button-family: false,
//   $button-border-color: $grey-lighter,
//   $button-border-width: $control-border-width,
//   $button-padding-vertical: calc(0.5em - #{$button-border-width}),
//   $button-padding-horizontal: 1em,
//   /////////////////////////////////////////////////////////////////////////////
//   $button-hover-color: $link-hover,
//   $button-hover-border-color: $link-hover-border,
//   /////////////////////////////////////////////////////////////////////////////
//   $button-focus-color: $link-focus,
//   $button-focus-border-color: $link-focus-border,
//   $button-focus-box-shadow-size: 0 0 0 0.125em,
//   $button-focus-box-shadow-color: rgba($link, 0.25),
//   $button-active-color: $link-active,
//   $button-active-border-color: $link-active-border,
//   /////////////////////////////////////////////////////////////////////////////
//   $button-text-color: $text,
//   $button-text-decoration: underline,
//   $button-text-hover-background-color: $background,
//   $button-text-hover-color: $text-strong,
//   /////////////////////////////////////////////////////////////////////////////
//   $button-disabled-background-color: $white,
//   $button-disabled-border-color: $grey-lighter,
//   $button-disabled-shadow: none,
//   $button-disabled-opacity: 0.5,
//   /////////////////////////////////////////////////////////////////////////////
//   $button-static-color: $text-light,
//   $button-static-background-color: $white-ter,
//   $button-static-border-color: $grey-lighter,
//   /////////////////////////////////////////////////////////////////////////////
//   // Box
//   $box-color: $text,
//   $box-background-color: $white,
//   $box-radius: $radius-large,
//   $box-shadow: (
//     0 0.5em 1em -0.125em rgba($scheme-invert, 0.1),
//     0 0 0 1px rgba($scheme-invert, 0.02)
//   ),
//   $box-padding: 1.25rem,
//   /////////////////////////////////////////////////////////////////////////////
//   $box-link-hover-shadow:
//     (0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0 0 1px $link),
//   $box-link-active-shadow: (
//     inset 0 1px 2px rgba($scheme-invert, 0.2),
//     0 0 0 1px $link
//   ),
//   /////////////////////////////////////////////////////////////////////////////
//   $subtitle-color: $text,
//   $subtitle-family: false,
//   $subtitle-size: $size-5,
//   $subtitle-weight: $weight-normal,
//   $subtitle-line-height: 1.25,
//   $subtitle-strong-color: $text-strong,
//   $subtitle-strong-weight: $weight-semibold,
//   $subtitle-negative-margin: -1.25rem,
//   /////////////////////////////////////////////////////////////////////////////
//   // Container
//   $container-offset: (2 * $gap),
//   /////////////////////////////////////////////////////////////////////////////
//   // Level
//   $level-item-spacing: ($block-spacing * 0.5),
//   /////////////////////////////////////////////////////////////////////////////
//   // Icon
//   $icon-dimensions: 1.5rem,
//   $icon-dimensions-small: 1rem,
//   $icon-dimensions-medium: 2rem,
//   $icon-dimensions-large: 3rem,
//   /////////////////////////////////////////////////////////////////////////////
//   // Dimensions
//   $dimensions: (16 24 32 48 64 96 128),
//   /////////////////////////////////////////////////////////////////////////////
//   // Miscellaneous
//   $easing: ease-out,
//   $radius-small: 2px,
//   $radius: 4px,
//   $radius-large: 6px,
//   $radius-rounded: 290486px,
//   $speed: 86ms
// );
