@use "baseStyles.scss";

// Set your brand colors
$purple: #8a4d76;
$pink: #ff0000;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Path to Bulma's sass folder
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $grey-dark: $brown,
  $grey-light: $beige-light,
  $primary: #2fa4e7,
  $link: $pink,
  $control-border-width: 2px,
  $input-shadow: none,
  $radius: 0px,
  $weight-normal: 600,
  $weight-light: 600
);

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
