@use "./utilities/functions.scss" as fn;
@use "./utilities/initial-variables.scss" as iv;
@use "./utilities/mixins.scss" as mx;
@use "./unicorn/variables.scss" as v;
@use "./unicorn/fonts.scss" as f;

@use "bulma/sass" with (
  $family-primary: f.$family-serif,
  $family-sans-serif: f.$family-serif,
  $primary: v.$primary,
  $danger: v.$red,
  $button-weight: 400,
  $colors: v.$colors,
  $title-weight: 500,
  $radius: v.$radius,
  $radius-small: v.$radius-small,
  $body-size: v.$body-size
);

@import "./unicorn/overrides.scss";
