@use "baseStyles.scss";
@use "./utilities/functions.scss" as fn;
@use "./utilities/initial-variables.scss" as iv;
@use "./utilities/derived-variables.scss" as dv;
@use "./utilities/mixins.scss" as mx;

////////////////////////////////////////////////
// YETI
////////////////////////////////////////////////
$grey-darker: #222;
$grey-dark: #333;
$grey: #888;
$grey-light: #ccc;
$grey-lighter: #e9e9e9;

$orange: #e99002;
$green: #43ac6a;
$cyan: #5bc0de;
$red: #f04124;
$link: green;
$text: $grey-dark;

$primary: #008cba !default;
$warning: $orange;

$orange-invert: #fff;
$warning-invert: $orange-invert;

$border: #e9e9e9;
$family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$body-size: 15px;

$radius: 0;
$radius-small: 0;
$radius-medium: 0;
$radius-large: 0;

$subtitle-color: $grey;

$button-background-color: $grey-lighter;
$button-border-color: darken($button-background-color, 5);

$navbar-background-color: #767676;
$navbar-item-color: rgba(#fff, 0.6);
$navbar-item-hover-color: #fff;
$navbar-item-active-color: #fff;
$navbar-item-hover-background-color: rgba(#000, 0.1);
$navbar-dropdown-arrow: $navbar-item-color;

$bulmaswatch-import-font: true !default;

$box-shadow: 0 0 0 1px $border;
$card-shadow: 0 0 0 1px $border;

$control-height: 2.534em;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;
$colors: fn.mergeColorMaps(
  (
    "white": (
      iv.$white,
      iv.$black,
    ),
    "black": (
      iv.$black,
      iv.$white,
    ),
    "light": (
      iv.$white-ter,
      iv.$black,
    ),
    "dark": (
      iv.$grey-dark,
      iv.$white,
    ),
    "text": (
      iv.$black,
      iv.$white,
    ),
    "primary": (
      $primary,
      iv.$white,
    ),
    "link": (
      #2366d1,
      iv.$white,
    ),
    "info": (
      iv.$cyan,
      iv.$white,
    ),
    "success": (
      $green,
      iv.$white,
    ),
    "warning": (
      $orange,
      iv.$white,
    ),
    "danger": (
      $red,
      iv.$white,
    ),
  ),
  $custom-colors
);

@use "bulma/sass" with (
  $button-weight: 400,
  $colors: $colors,
  $primary: $primary,
  $family-sans-serif: $family-sans-serif,
  $body-size: $body-size,
  $subtitle-color: $subtitle-color,
  $radius: $radius,
  $radius-small: $radius-small,
  $radius-medium: $radius-medium,
  $radius-large: $radius-large,
  $border: $primary,
  $box-shadow: $box-shadow,
  $card-shadow: $card-shadow,
  $scheme-main: $primary,
  $scheme-main-bis: $primary,
  $scheme-main-ter: $primary,
  $scheme-invert: $primary
);

// Overrides
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&display=swap");

.button {
  &.is-active,
  &:active {
    box-shadow: inset 1px 1px 4px rgba($grey-darker, 0.3);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      border-color: darken($color, 5);

      &.is-hovered,
      &:hover {
        background-color: darken($color, 10);
      }

      &.is-active,
      &:active {
        box-shadow: inset 1px 0 3px rgba($grey-darker, 0.3);
        background-color: darken($color, 10);
      }
    }
  }

  &.is-loading:after {
    border-color: transparent transparent $grey-light $grey-light;
  }
}

.input,
.textarea {
  box-shadow: none;
}

// .box,
// .card {
//   box-shadow: 0 0 0 1px $border;
// }

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.navbar {
  &.is-transparent {
    background-color: transparent;

    .navbar-item,
    .navbar-link {
      color: $link;

      &:after {
        border-color: currentColor;
      }
    }
  }

  .navbar-item {
    &.is-active {
      color: iv.$white !important;
    }
  }

  @include mx.from(iv.$navbar-breakpoint) {
    .has-dropdown .navbar-item {
      color: $text;
    }
  }

  @include mx.until(iv.$navbar-breakpoint) {
    .navbar-menu {
      background-color: inherit;
    }

    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      $color-invert: nth($pair, 2);

      &.is-#{$name} {
        .navbar-item,
        .navbar-link {
          color: $color-invert;
        }
      }
    }
  }
}

.hero {
  .navbar {
    .navbar-item,
    .navbar-link {
      color: $link;

      &:after {
        border-color: currentColor;
      }
    }

    @include mx.from(iv.$navbar-breakpoint) {
      .has-dropdown .navbar-item {
        color: $text;
      }
    }
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      .navbar-item,
      .navbar-link {
        color: $color-invert;
      }
    }
  }
}

.progress,
.tag {
  border-radius: $radius;
}
